// Brand Colors
//==================================================================*/
$color-red: #E7131D;
$color-orange: #C15401;
$color-cream: #FCEED1;
$color-cream-light: #FEF7E7;
$color-grey-100: #F9F9F9;
$color-grey-200: #C4C4C4;
$color-grey-300: #A9A9A9;
$color-grey-400: #494949;
$color-white: #FFFFFF;
$color-black: #000000;

$brand: (
	"red": $color-red,
    "orange": $color-orange,
    "cream": $color-cream,
    "light": $color-cream-light,
    "grey-100": $color-grey-100,
    "grey-200": $color-grey-200,
    "grey-300": $color-grey-300,
    "grey-400": $color-grey-400,
    "white": $color-white,
    "black": $color-black
);


// Alert Colors
//==================================================================*/
$color-danger: #f44336;
$color-success: #4CAF50;
$color-info: #2196F3;
$color-warning: #ff9800;

$alert: (
	danger: $color-danger,
    success: $color-success,
    info: $color-info,
    warning: $color-warning
);


// Font Weights
//==================================================================*/
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;


// Base Fonts
//==================================================================*/
$font__fallbacks:
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for macOS (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue",
    Arial,
    // Linux
    "Noto Sans",
    // Sans serif fallback
    sans-serif,
    !default;
    
$font__main: "Univers LT Std", $font__fallbacks;
$font__headings: "Univers LT Std Condensed", $font__fallbacks;

// font for <code>
$font__code:
    monaco,
    consolas,
    "Andale Mono",
    "DejaVu Sans Mono",
    monospace;

// font for <pre>
$font__pre:
    "Courier 10 Pitch",
    courier,
    monospace;


// Site Dimensions
//==================================================================*/
$site__width: 1400px;


// Transition
//==================================================================*/
$animation-fast: 100ms;
$animation-average: 300ms;
$animation-slow: 500ms;
$base-animation-easing: cubic-bezier(0.62, 0.01, 0.37, 0.99);