@import "../../../global/src/css/functions";
@import "../../../global/src/css/settings/variables";

$this: '.info-overview';

// baseline styles for icon cards
#{$this} {

    .block {
        &__wrapper {
        }

        &__header {

        }

        &__overline {

        }

        &__title {

        }

        &__description {

        }

        &__actions {

        }

        &__content {
            padding-top: rem(36);

            &-img {

            }

            &-items {

            }
        }
    }

    &__item {
        position: relative;
        padding: rem(16) 0 rem(16) rem(65);
        display: block;
        text-decoration: none;
        transition: background $animation-average $base-animation-easing;

        @include media('>=sm') {
            width: calc(50% - 10px);
            align-self: flex-start;
        }

        @include media('>=xl') {
            width: calc(50% - 15px);
        }

        &-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: rem(20);

            &.small {
                font-size: rem(22);
            }
        }

        &-description {
        }
    }
}

// link option
a {
    &#{$this}__item {
        &:hover, &:focus {
            
            #{$this}__item {
                &-description {
                }

                &-icon {
                }
            }
        }
    }
}