// default and mimic heading sizes
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
[class^="heading-"] {
	display: block;
	clear: both;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-style: normal;
	font-weight: $weight-bold;
	line-height: 1.4;
	font-family: $font__headings;
	letter-spacing: 0.2px;
}

.heading-xl {
	@include font-size(60px);
}

.heading-lg {
	@include font-size(46px);
}

.heading-md {
	@include font-size(40px);
}

.heading-sm {
	@include font-size(30px);
}

.heading-xs {
	@include font-size(26px);
}
