// Adobe Typekit
// @import url("https://use.typekit.net/afy5ufa.css");

body,
button,
input,
select,
optgroup,
textarea {
	color: $color-black;
	font-family: $font__main;
	font-size: 1rem;
	line-height: 1.5;
}

@import "headings";
@import "copy";
