button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	padding: rem(12) rem(30) rem(10);
	border-width: rem(2);
	border-style: solid;
	border-color: $color-grey-300;
	border-radius: rem(4);
	color: $color-grey-300;
	font-weight: $weight-bold;
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 0.01em;
	background: $color-grey-300;
	transition: all $animation-average $base-animation-easing;
	transition-property: background, border-color;

	&:hover {
		cursor: pointer;
	}

	&[disabled] {
		color: $color-grey-300;
		background: none;

		&:hover {
			cursor: not-allowed;
		}
	}
}

.button {
	&--red {
		background-color: $color-red;
		border-color: $color-red;
		color: $color-white;

		&:hover,
		&:focus {
			background: $color-white;
			color: $color-red;
		}

		&-outline {
			background: none;
			border-color: $color-red;
			color: $color-red;

			&:hover {
				background: $color-red;
				color: $color-white;
			}

			&:focus {
				outline: $color-red;
				background: $color-red;
				color: $color-white;
			}
		}
	}

	&--white {
		background-color: $color-white;
		border-color: $color-white;
		color: $color-black;

		&:hover,
		&:focus {
			background: $color-black;
			border-color: $color-black;
			color: $color-white;
		}

		&-outline {
			background: none;
			border-color: $color-white;
			color: $color-white;

			&:hover {
				background: $color-white;
				color: $color-black;
			}

			&:focus {
				outline: darken($color-white, 10%) auto 1px;
				background: $color-white;
				color: $color-black;
			}
		}
	}

	&--nav {
		background: none;
		border: none;
		padding: rem(12) 0;
		color: rgba($color-black, 0.6);

		&:hover {
			color: $color-red;
		}

		&:focus,
		&:focus-visible {
			@include underline($color-red);

			outline: none;
			color: $color-red;
		}

		&.active {
			@include underline($color-red);

			color: $color-red;
		}
	}

	&--link {
		background: none;
		border: none;
		padding: rem(12) 0;
		color: $color-red;
		text-transform: none;

		&:hover,
		&:focus,
		&:focus-visible,
		&.active {
			outline: none;
			color: $color-red;
			text-decoration: underline;
		}
	}

	&--thin {
		padding: rem(7) rem(26) rem(5);
	}
}
