button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border-style: solid;
	display: inline-block;
	border-color: $color-grey-light;
	border-width: rem(2);
	border-radius: rem(3);
	color: $color-grey;
	line-height: 1;
	padding: rem(12) rem(24);
	text-decoration: none;
	transition: all $animation-average $base-animation-easing;
	transition-property: background, border-color;
	background:  $color-grey-light;

	&:hover {
		cursor: pointer;
	}

	&[disabled] {
		color: $color-grey-light;
		background: none;

		&:hover {
			cursor: not-allowed;
		}
	}

	&:active,
	&:focus {
		outline: $color-red auto 1px;
	}
}

.button {

	&--primary {
		background-color:  $color-red;
		border-color: $color-red;
		color: $color-white;

		&:hover {
			background: darken($color-red, 10%);
		}

		&:focus {
			outline: darken($color-red, 10%) auto 1px;
			background: darken($color-red, 10%);
		}

		&-outline {
			background:  none;
			border-color: $color-red;
			color: $color-red;

			&:hover {
				background: $color-red;
				color: $color-white;

			}
	
			&:focus {
				outline: darken($color-red, 10%) auto 1px;
				background: $color-red;
				color: $color-white;

			}
		}
	}

	&--secondary {
		background-color:  $color-black;
		border-color: $color-black;
		color: $color-white;

		&:hover {
			background: darken($color-black, 10%);
		}

		&:focus {
			outline: darken($color-black, 10%) auto 1px;
			background: darken($color-black, 10%);
		}

		&-outline {
			background:  none;
			border-color: $color-black;
			color: $color-black;

			&:hover {
				background: $color-black;
				color: $color-white;

			}
	
			&:focus {
				outline: darken($color-black, 10%) auto 1px;
				background: $color-black;
				color: $color-white;

			}
		}
	}

	&--light {
		background-color:  $color-white;
		border-color: $color-white;
		color: $color-grey;

		&:hover {
			background: none;
			color: $color-white;
		}

		&:focus {
			outline: darken($color-white, 10%) auto 1px;
			background: none;
			color: $color-white;
		}

		&-outline {
			background:  none;
			border-color: $color-white;
			color: $color-white;

			&:hover {
				background: $color-white;
				color: $color-grey;

			}
	
			&:focus {
				outline: darken($color-white, 10%) auto 1px;
				background: $color-white;
				color: $color-grey;

			}
		}
	}

	&--dark {
		background-color:  $color-grey;
		border-color: $color-grey;
		color: $color-white;

		&:hover {
			background: none;
			color: $color-grey;
		}

		&:focus {
			outline: darken($color-grey, 10%) auto 1px;
			background: darken($color-grey, 10%);
		}

		&-outline {
			background:  none;
			border-color: $color-grey;
			color: $color-grey;

			&:hover {
				background: $color-grey;
				color: $color-white;

			}
	
			&:focus {
				outline: darken($color-grey, 10%) auto 1px;
				background: $color-grey;
				color: $color-white;

			}
		}
	}

	&--plain {
		background: none;
		border: none;
		border: none;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.buttons {
	&.aligncenter {
		text-align: center;
	}
}
