a:not(.button) {
	color: $color-black;
	transition: color $animation-average $base-animation-easing;

	&:visited {
		color: $color-red;
	}

	&:hover,
	&:focus,
	&:active {
		color: lighten($color-black, 20%);
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
