@import "../../../global/src/css/functions";
@import "../../../global/src/css/settings/variables";

$this: '.feed-block';

// baseline styles for icon cards
#{$this} {

    .block {
        &__wrapper {
        } 

        &__description {
        }
    }

    // block content
    &__content {
    }

    // feed cards
    &__items {
        @include media('>=md') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(30);
        }

        &-view-all {

            a {
                &:hover, &:focus {
                }
            }
        }
    }

    // card
    &__item {
        text-decoration: none;

        figure {
            img {
            }
        }

        &-overline {
        }

        &-title {
        }

        &-date {
        }

        &-content {
        }

        &:hover, &:focus {
            #{$this}__item {
                &-title {
                }
            }

            figure {
                img {
                }
            }
        }
    }
}

// load more
.alm-listing {
    .alm-reveal {
        @include media('>=md') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(30);
        }
    }
}